@page
@model FinalExam.Pages.Authors.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].Age)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author[0].BirthDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Author) {
        <tr>
            <td>
                         <a asp-page="./Details" asp-route-id="@item.AuthorId">@Html.DisplayFor(modelItem => item.FirstName)</a> 
                
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.AuthorId">
                @Html.DisplayFor(modelItem => item.LastName)
           </a>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Age)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BirthDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AuthorId">Edit</a> |
               |
                <a asp-page="./Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
